* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.content {
  margin: 16px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.input_text {
  width: 36;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.button_submit {
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
.btn-delete {
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
table {
  margin-top: 16px;
  width: 100%;
}
th {
  background-color: pink;
}
tr {
  /* width: 100%; */
}
td {
  text-align: center;
  padding: 8px;
}
td:nth-child(1) {
  text-align: left;
}


